.page {
  background-image: var(--page-bg-image);
  background-color: var(--page-bg-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--main-font);
  color: var(--text-color);
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.header {
  background-color: var(--page-bg-color);
  width: 100%;
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu {
  justify-self: end;
  grid-row: 1;
}

.header__theme-menu-list {
  margin-block-start: 74px;
  padding-inline-start: 5px;
  display: grid;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-button {
  min-height: 26px;
  min-width: 70px;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  text-transform: lowercase;
  font-size: 18px;
  color: var(--decorated-zone-color);
  border: none;
  font: inherit;
  cursor: pointer;
  background: transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header-meny-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decorated-zone-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--decorated-zone-color);
}

.header__theme-menu-button:active {
  outline: 1px solid var(--decorated-zone-color);
}

.header__theme-menu-button:default {
  outline: 1px solid var(--decorated-zone-color);
}

.header__title {
  margin-block-start: 48px;
  margin-inline-start: -4px;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--header-text-color);
  text-shadow: 4px 4px var(--accent-color);
}

.header__text {
  background-color: var(--accent-color);
  grid-row: 3;
  min-height: 71px;
  max-width: 491px;
  width: fit-content;
  display: block;
  align-self: center;
  justify-self: end;
  line-height: 1.3;
  font-size: 18px;
  font-weight: 700;
  color: var(--undertitle-color);
  margin-block-start: -95px;
}

.header__text-paragraf {
  margin: 0;
}

.header__theme-menu-decoration {
  position: absolute;
  display: var(--rec);
  top: 13px;
  right: 29px;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: var(--decorated-zone-color);
}

.header__theme-menu-decoration::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
  background-color: var(--decorated-zone-color);
  top: 7px;
  margin-inline-start: 10px;
  box-shadow: 0 0 1px 2px var(--decorated-zone-color);
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 1px var(--a-shadow-color);
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
}

a:focus {
  border: 1px solid var(--text-color);
}

article {
  align-self: start;
  max-height: min-content;
}

.article-list {
  display: grid;
  grid-column-start: 2;
  grid-column-end: span3;
  align-items: start;
}

.article-list__horison {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.article-list__horisontal-position {
  margin-block-start: 34px;
}

.card {
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-block-start: -13px;
}

.card__meal {
  margin-block-start: 21px;
}

.card__device {
  margin-block-start: 20px;
}

.card__clouds {
  margin-block-start: -21px;
}

.card-gap {
  margin-block-start: -15px;
}

.card-position {
  margin-block-start: -22px;
}

.card-position-vertical {
  margin-block-start: -20px;
}

.card-position-vertical-1 {
  margin-block-start: -25px;
}

.card-position-vertical-2 {
  margin-block-start: -20px;
}

.content-section {
  grid-template-columns: repeat(3, 1fr);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.content-section--vertical {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin-block-start: 31px;
}

.content__card__title {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  margin-block-start: 20px;
}

.content-card-undertitle {
  font-size: 18px;
  font-weight: 700;
  color: var(--undertitle-color);
  background-color: var(--accent-color);
}

.content-card-undertitle-music {
  margin-block-end: 16px;
}

.content-card-text {
  font-weight: 400;
  color: var(--text-color);
  margin-block-start: -8px;
  margin-inline-end: 0px;
  line-height: 1.3em;
}

.content-card-text-clouds {
  margin-block-start: -14px;
}

.content-card-text-walk {
  margin-block-start: -12px;
}

.content-card-text-meal {
  margin-block-start: -14px;
}

.content-card-text-books {
  margin-block-start: -14px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--decorated-zone-color);
  border-inline-end: 1px solid var(--decorated-zone-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
}

.section-gallery {
  margin-block-start: 31px;
}

.gallery {
  box-sizing: border-box;
  min-height: 200px;
  margin-block-start: -4px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 100%;
}

.image-sunset {
  grid-column: 1 / 3;
  grid-row: 1;
  margin-block-end: 5px;
}

.image-ice-cream {
  grid-column: 3;
  grid-row: 1 / 3;
  margin-block-end: 6px;
}

.image-tape {
  grid-row: 2 / 4;
  grid-column: 1;
}

.image-street {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  margin-block-start: 6px;
}

.image-books {
  grid-row: 2;
  grid-column: 2;
  margin-block-start: 6px;
}

.content-card-undertitle-gallery {
  grid-row: 1;
  grid-column: 1 / 3;
}


.undertitle-h3 {
  margin-block-start: 7px;
}

.section {
  margin-block-start: 50px;
}

main {
  margin-block-start: 58px;
}

.footer {
  margin-block-start: 40px;
  height: 100vh;
  min-height: 668px;
  display: grid;
  position: relative;
}

.footer__title {
  margin-block-start: 229px;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--header-text-color);
  text-shadow: 2px 2px var(--accent-color);
  display: grid;
  align-items: center;
  justify-content: center;
}

@media (width >=768px) {
  .page {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    min-height: 1024px;
  }

  .article-list {
    margin-inline-start: -13px;
  }

  .article-list__horisontal-position {
    margin-block-start: 34px;
    margin-inline-start: -13px;
  }

  .decorated-zone::before {
    bottom: 28px;
  }

  .main {
    margin-block-start: 60px;
  }

  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__card__title {
    margin-block-start: 5px;
  }

  .card {
    margin-inline-start: 13px;
  }

  .card-gap {
    margin-block-start: -18px;
  }

  .content-section--vertical {
    margin-block-start: 62px;
  }

  .title-decor-h2 {
    inline-size: 236px;
    margin-block-start: 8px;
  }

  .section {
    margin-block-start: 73px;
  }

  .undertitle-h3 {
    margin-block-start: 8px;
    margin-inline-start: 13px;
  }

  .section-gallery {
    margin-block-start: 62px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    box-sizing: border-box;
    gap: 20px;
    min-height: 200px;
    margin-block-start: 20px;
  }

  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100%;
  }

  .image-sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .image-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .image-tape {
    grid-row: 2 / 4;
    grid-column: 1;
  }

  .image-street {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }

  .image-books {
    grid-row: 2;
    grid-column: 2;
  }

  .image-books {
    margin-block-start: -1px;
  }

  .image-street {
    margin-block-start: -1px;
  }

  .footer {
    margin-block-start: 60px;
    min-height: 1024px;
  }

  .footer__title {
    margin-block-start: 332px;
  }
}

@media (width >=1024px) {
  .page {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    min-height: 768px;
  }

  .header {
    min-height: 768px;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
  }

  .header__theme-menu {
    justify-self: center;
    grid-row: 1;
  }

  .header__theme-menu-list {
    margin-block-start: 10px;
    padding-inline-start: 5px;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 18px;
    gap: 10px;
    justify-content: center;
  }

  .header__title {
    margin-block-start: 90px;
    margin-inline-start: -20px;
  }

  .header__text {
    grid-row: 3;
    min-height: 71px;
    max-width: 491px;
    width: fit-content;
    display: block;
    align-self: center;
    justify-self: end;
    margin-block-start: -116px;
  }

  .header__theme-menu-decoration {
    position: absolute;
    top: 13px;
    right: 29px;
  }

  .header__theme-menu-decoration::after {
    width: 9px;
    height: 9px;
    border-radius: 4.5px;
    top: 7px;
    margin-inline-start: 10px;
  }

  .header__title {
    margin-inline-start: -19px;
  }

  article {
    align-self: start;
    max-height: min-content;
  }

  .article-list {
    margin-inline-start: -6px;
  }

  .article-list__horisontal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .article-list__horisontal-position {
    margin-inline-start: -8px;
    margin-block-start: -12px;
  }

  .card {
    margin-inline-end: 0px;
    margin-inline-start: 8px;
  }

  .card__clouds {
    margin-block-start: -1px;
  }

  .card__meal {
    margin-block-start: -1px;
  }

  .card__device {
    margin-block-start: -1px;
  }

  .card-horisontal {
    margin-block-start: -1px;
  }

  .card-position {
    margin-block-start: -20px;
  }

  .card-position-vertical {
    margin-block-start: -20px;
  }

  .card-position-vertical-1 {
    margin-block-start: -24px;
  }

  .card-position-vertical-2 {
    margin-block-start: -24px;
  }

  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content-section--vertical {
    margin-block-start: 65px;
  }

  .content__card__title {
    margin-block-start: 3px;
  }

  .content-card-text-clouds {
    margin-block-start: -15px;
  }

  .decorated-zone::before {
    content: "";
    position: absolute;
    bottom: 28px;
    width: 25px;
    height: 25px;
  }

  .decorated-zone::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 0px;
    width: 25px;
    height: 25px;
  }

  .image-sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .image-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .image-tape {
    grid-row: 2 / 4;
    grid-column: 1;
  }

  .image-street {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }

  .image-books {
    grid-row: 2;
    grid-column: 2;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 315px 433px;
    box-sizing: border-box;
    gap: 20px;
    min-height: 200px;
    margin-block-start: 22px;
  }

  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100%;
  }

  .section {
    margin-block-start: 55px;
  }

  .title-decor-h2 {
    inline-size: 315px;
    margin-block-start: 8px;
  }

  .undertitle-h3 {
    margin-inline-start: 8px;
    margin-block-end: -3px;
  }

  .footer {
    margin-block-start: 60px;
    height: 100vh;
    min-height: 768px;
    display: grid;
    position: relative;
  }

  .footer__title {
    margin-block-start: 245px;
  }
}